.modal-box{ 
    min-height: 500px;
    background-color: #001e5561;
    color:white;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;    
}
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000061;
}

.words-input{
    background-color: transparent;
    background-color: #111111;
    color: white;
    border-bottom: 1px solid #C8C7C7;
    padding: 1rem;
}
 